body{
background-color:rgb(190, 184, 184);
}

p1 {

color: rgb(43, 40, 40);

}

h1 {
    padding-left: 20px;
    background-color:rgba(234, 207, 137, 0.851);

}
a{
    color: rgb(22, 16, 199);
    background-color: rgb(241, 235, 235);
}

img{
    float:right;    
}

div.full {
    background-color: rgb(247, 247, 242);
    max-height: 50%;
}
.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
	background: #e8c597;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
